@import "{meta:susy}/susy";
@import url(https://fonts.googleapis.com/css?family=Work+Sans);

$susy: (
		container: 100%,
		columns: 16,
		//column-width: 50px,
		gutters: 1/2,
		gutter-position: inside
);

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.full-grid {
	@include layout($susy);
	@include container(100%);
	@include clearfix;
}

$work-sans: 'Work Sans', sans-serif;

a.button, a.button:hover {
	padding: 8px;
	color: white;
	text-decoration: none;
	font-family: $work-sans;
	display: inline-block;
	border-radius: 5px;
}

// BODY FEATURES

body {
	font-family: $work-sans;
}

// HEADER

.header-bar {
	@include span(16 of 16);
	background-color: #7D5BA6;
	color: white;
}

// ROLL ROW

.rolls-summary {
	@include span(8 of 16);
	margin-top: 5px;
	display: inline-block;
	.createRoll {
		background-color: #9BC995;
	}
}

.roll-row {
	background-color: #ABB9E9;
	color: white;
	overflow: hidden;
	margin-top: 2.5px;
	margin-bottom: 2.5px;
	border-radius: 10px;
	.roll-info {
		@include span(12 of 16);
	}
	.roll-control {
		@include span(4 of 16);
		padding-top: 12px;
		text-align: center;
		.rollRoll {
			background-color: #9BC995;
		}
		.deleteRoll {
			margin-top: 7px;
			background-color: #FF8C61;
		}
	}
}

// ROLL RESULTS

.results {
	@include span(8 of 16);
	margin-top: 7.5px;
	display: inline-block;
	.roll-result {
		@include span(16 of 16);
		text-align: center;
		background-color: #8681C6;
		border-radius: 10px;
		h2 {
			color: white;
			font-size: 40px;
		}
	}
}