@import "{meta:susy}/susy";
@import url(https://fonts.googleapis.com/css?family=Work+Sans);

$susy: (
		container: 100%,
		columns: 16,
		//column-width: 50px,
		gutters: 1/2,
		gutter-position: inside
);

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.full-grid {
	@include layout($susy);
	@include container(100%);
	@include clearfix;
}

$work-sans: 'Work Sans', sans-serif;

body {
	font-family: $work-sans;
}

// HEADER

.header-bar {
	@include span(16 of 16);
	background-color: #2B193D;
	color: white;
}

// ROLL ROW

.rolls-summary {
	@include span(8 of 16);
	margin-top: 5px;
	display: inline-block;
}

.roll-row {
	background-color: #484D6D;
	color: white;
	overflow: hidden;
	margin-top: 2.5px;
	margin-bottom: 2.5px;
	.roll-info {
		@include span(12 of 16);
	}
	.roll-control {
		@include span(4 of 16);
	}
}

// ROLL RESULTS

.results {
	@include span(8 of 16);
	display: inline-block;
}